body {
    margin-left: 40%;
    margin-top: 10%;
    background-image: url("/images/image256px.png");
  }

  fieldset{
    border: 5px #ddd;
    box-shadow: 0px 0px 10px;
    background-color: #fbd370;
    position: absolute;
    padding: 1em 2em;
    width: 310px;
    left: 0;
    right: 0;
    margin: auto;
    top: 50vh;
    transform : translateY(-50%);
   
    border-radius: 5px;
  }

  input {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
  }
h1{
  color: white;
}
 p{
  font-family:'Tahoma' ;
 }